<script>
	Recipe.Instructions.List = {};  // Initialize namespace `Recipe.Instructions.Modal`
</script>


{% include("New/Recipe/Instructions/List/Modal.j2") %}


<button
  id="Recipe_Instructions-list_type_select_button-button"
  type="button"
  class="btn btn-light"
  style="padding-top: 8px;"
  data-bs-toggle="modal"
  data-bs-target="#Recipe_Instructions_List_Modal-new_Instruction_list_item-modal"
  onclick="
    Recipe.Instructions.hide_type_select_buttons(this);
    Recipe.Instructions.List.add_ul_to_new_instruction_div();"
>
	Add List
</button>


<script>
	Recipe.Instructions.NEW_INSTRUCTION_LIST_UL = document.getElementById("Recipe_Instructions_List-list-ul");


	Recipe.Instructions.List.add_ul_to_new_instruction_div =
	function add_ul_to_new_instruction_div()
	{
		if(Recipe.Instructions.NEW_INSTRUCTIONS_DIV.children.length == 0)
		{
			const ul_html = `
			<ul
			  id="Recipe_Instructions_List-list-ul"
			  class="list-group"
			>
			</ul>
			`;
			Recipe.Instructions.NEW_INSTRUCTIONS_DIV.appendChild(html_to_element(ul_html));
			Recipe.Instructions.NEW_INSTRUCTION_LIST_UL = document.getElementById("Recipe_Instructions_List-list-ul");
		}
	};


	Recipe.Instructions.List.delete_Instruction_from_new_Instructions =
	function delete_Instruction_from_new_Instructions(uuid4)
	{
		const Instruction_li = document.getElementById(`Recipe_Instructions_List_New-new_Instruction-${uuid4}-li`);
		const Instruction_ul = Instruction_li.parentNode;
		Instruction_ul.removeChild(Instruction_li);

		if(Recipe.Instructions.NEW_INSTRUCTION_LIST_UL.children.length == 0)
		{
			Recipe.Instructions.NEW_INSTRUCTIONS_DIV.removeChild(Recipe.Instructions.NEW_INSTRUCTION_LIST_UL);
			Recipe.Instructions.show_type_selection_buttons();
		}

		delete Recipe.NEW_RECIPE.Instructions[uuid4];
	};
</script>
