<script>
	Recipe.RecipeIngredients.Modal = {};  // Initialize namespace `Recipe.RecipeIngredients.Modal`
	Recipe.RecipeIngredients.Modal.NAME_SINGULAR_INPUT = undefined;
	Recipe.RecipeIngredients.Modal.NAME_PLURAL_INPUT = undefined;
	Recipe.RecipeIngredients.Modal.BRAND_INPUT = undefined;
	Recipe.RecipeIngredients.Modal.DESCRIPTION_TEXTAREA = undefined;
	Recipe.RecipeIngredients.Modal.GROUP_INPUT = undefined;
	Recipe.RecipeIngredients.Modal.AMOUNT_INPUT = undefined;
	Recipe.RecipeIngredients.Modal.UNIT_SINGULAR_INPUT = undefined;
	Recipe.RecipeIngredients.Modal.UNIT_PLURAL_INPUT = undefined;
	Recipe.RecipeIngredients.Modal.QUALITY_INPUT = undefined;
	Recipe.RecipeIngredients.Modal.IS_REQUIRED_SELECT = undefined;
	Recipe.RecipeIngredients.Modal.NOTES_TEXTAREA = undefined;
	Recipe.RecipeIngredients.Modal.SUBMIT_BUTTON = undefined;
</script>


<div
  id="Recipe_RecipeIngredients_Modal-new_RecipeIngredient-modal"
  class="modal modal-xl"
  tabindex="-1"
>
	<div
	  class="modal-dialog"
	>
		<div
		  class="modal-content"
		>
			<div
			  class="modal-header"
			>
				<h5
				  class="modal-title"
				>
					New Ingredient
				</h5>
				<button
				  type="button"
				  class="btn-close"
				  data-bs-dismiss="modal"
				  aria-label="Close"
				>
				  </button>
			
			</div>
			<div
			  class="modal-body"
			>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredients_Modal-name_singular-input"
					  class="col-sm-2 col-form-label"
					>
						Names
					</label>
					<div
					  class="col-sm-5"
					>
						<input
						  id="Recipe_RecipeIngredients_Modal-name_singular-input"
						  class="form-control"
						  onkeyup="Recipe.RecipeIngredients.Modal.set_submit_enablement();"
						  onchange="Recipe.RecipeIngredients.Modal.set_submit_enablement();"
						  type="text"
						  placeholder="Singular"
						/>
					</div>
					<div
					  class="col-sm-5"
					>
						<input
						  id="Recipe_RecipeIngredients_Modal-name_plural-input"
						  class="form-control"
						  onkeyup="Recipe.RecipeIngredients.Modal.set_submit_enablement();"
						  onchange="Recipe.RecipeIngredients.Modal.set_submit_enablement();"
						  type="text"
						  placeholder="Plural"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredients_Modal-brand-input"
					  class="col-sm-2 col-form-label"
					>
						Brand
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="Recipe_RecipeIngredients_Modal-brand-input"
						  class="form-control"
						  type="text"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredients_Modal-description-textarea"
					  class="col-sm-2 col-form-label"
					>
						Description
					</label>
					<div
					  class="col-sm-10"
					>
						<textarea
						  id="Recipe_RecipeIngredients_Modal-description-textarea"
						  class="form-control"
						  type="text"
						></textarea>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredients_Modal-group-input"
					  class="col-sm-2 col-form-label"
					>
						Group
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="Recipe_RecipeIngredients_Modal-group-input"
						  class="form-control"
						  type="text"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredients_Modal-amount-input"
					  class="col-sm-2 col-form-label"
					>
						Amount
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="Recipe_RecipeIngredients_Modal-amount-input"
						  class="form-control"
						  type="number"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredients_Modal-unit_singular-input"
					  class="col-sm-2 col-form-label"
					>
						Units
					</label>
					<div
					  class="col-sm-5"
					>
						<input
						  id="Recipe_RecipeIngredients_Modal-unit_singular-input"
						  class="form-control"
						  type="text"
						  placeholder="Singular"
						/>
					</div>
					<div
					  class="col-sm-5"
					>
						<input
						  id="Recipe_RecipeIngredients_Modal-unit_plural-input"
						  class="form-control"
						  type="text"
						  placeholder="Plural"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredients_Modal-quality-input"
					  class="col-sm-2 col-form-label"
					>
						Quality
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="Recipe_RecipeIngredients_Modal-quality-input"
						  class="form-control"
						  type="text"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredients_Modal-is_required-select"
					  class="col-sm-2 col-form-label"
					>
						Is Required
					</label>
					<div
					  class="col-sm-10"
					>
						<select
						  id="Recipe_RecipeIngredients_Modal-is_required-select"
						  onchange="Recipe.RecipeIngredients.Modal.set_submit_enablement();"
						  type="text"
						  class="form-control"
						>
							<option
							  value="-1"
							  selected
							  disabled
							  hidden
							>
								— SELECT WHETHER INGREDIENT IS REQUIRED FOR THE RECIPE —
							</option>
							<option
							  value="1"
							>
								True
							</option>
							<option
							  value="0"
							>
								False
							</option>
						</select>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredients_Modal-notes-textarea"
					  class="col-sm-2 col-form-label"
					>
						Notes
					</label>
					<div
					  class="col-sm-10"
					>
						<textarea
						  id="Recipe_RecipeIngredients_Modal-notes-textarea"
						  class="form-control"
						  type="text"
						></textarea>
					</div>
				</div>

			</div>
			<div
			  class="modal-footer"
			>
				<button
				  type="button"
				  class="btn btn-secondary"
				  data-bs-dismiss="modal"
				>
					Close
				</button>
				<button
				  id="Recipe_RecipeIngredients_Modal-submit-button"
				  type="button"
				  class="btn btn-primary"
				  data-bs-dismiss="modal"
				  onclick="
				    let uuid4 = Recipe.uuid4();
				    Recipe.RecipeIngredients.Modal.add_RecipeIngredient_to_Recipe_json(uuid4);
				    Recipe.RecipeIngredients.Modal.add_RecipeIngredient_from_modal_to_new_RecipeIngredients(uuid4);
				  "
				  disabled
				>
					Add Ingredient
				</button>
			</div>
		</div>
	</div>
</div>


<script>

		Recipe.RecipeIngredients.Modal.NAME_SINGULAR_INPUT =
		  document.getElementById("Recipe_RecipeIngredients_Modal-name_singular-input");
		Recipe.RecipeIngredients.Modal.NAME_PLURAL_INPUT =
		  document.getElementById("Recipe_RecipeIngredients_Modal-name_plural-input");
		Recipe.RecipeIngredients.Modal.BRAND_INPUT =
		  document.getElementById("Recipe_RecipeIngredients_Modal-brand-input");
		Recipe.RecipeIngredients.Modal.DESCRIPTION_TEXTAREA =
		  document.getElementById("Recipe_RecipeIngredients_Modal-description-textarea");
		Recipe.RecipeIngredients.Modal.GROUP_INPUT =
		  document.getElementById("Recipe_RecipeIngredients_Modal-group-input");
		Recipe.RecipeIngredients.Modal.AMOUNT_INPUT =
		  document.getElementById("Recipe_RecipeIngredients_Modal-amount-input");
		Recipe.RecipeIngredients.Modal.UNIT_SINGULAR_INPUT =
		  document.getElementById("Recipe_RecipeIngredients_Modal-unit_singular-input");
		Recipe.RecipeIngredients.Modal.UNIT_PLURAL_INPUT =
		  document.getElementById("Recipe_RecipeIngredients_Modal-unit_plural-input");
		Recipe.RecipeIngredients.Modal.QUALITY_INPUT =
		  document.getElementById("Recipe_RecipeIngredients_Modal-quality-input");
		Recipe.RecipeIngredients.Modal.IS_REQUIRED_SELECT =
		  document.getElementById("Recipe_RecipeIngredients_Modal-is_required-select");
		Recipe.RecipeIngredients.Modal.NOTES_TEXTAREA =
		  document.getElementById("Recipe_RecipeIngredients_Modal-notes-textarea");

		Recipe.RecipeIngredients.Modal.SUBMIT_BUTTON =
		  document.getElementById("Recipe_RecipeIngredients_Modal-submit-button");


	Recipe.RecipeIngredients.Modal.add_RecipeIngredient_to_Recipe_json =
	function add_RecipeIngredient_to_Recipe_json(uuid4)
	{
		if(Recipe.NEW_RECIPE.RecipeIngredients === undefined)
		{
			Recipe.NEW_RECIPE.RecipeIngredients = {};
		}

		Recipe.NEW_RECIPE.RecipeIngredients[uuid4] = Recipe.RecipeIngredients.Modal.get_RecipeIngredient_data();
	};


	Recipe.RecipeIngredients.Modal.add_RecipeIngredient_from_modal_to_new_RecipeIngredients =
	function add_RecipeIngredient_from_modal_to_new_RecipeIngredients(uuid4)
	{
		const recipe_ingredient = {[uuid4]: Recipe.NEW_RECIPE.RecipeIngredients[uuid4]};

		// ———— ADJUST UI ———— //
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", "/new/recipe/recipe_ingredient", false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send(JSON.stringify(recipe_ingredient));
		if(xmlhttp.status == 400)
		{
			return alert('There was an error 400');
		}
		else if(xmlhttp.status != 200)
		{
			return alert('add_new_recipe_ingredient_html::something else other than 200 was returned');
		}

		// Add built data to page
		Recipe.RecipeIngredients.NEW_RECIPEINGREDIENTS_DIV.appendChild(html_to_element(xmlhttp.responseText));

		// Reset modal
		Recipe.RecipeIngredients.Modal.clear_new_RecipeIngredient_modal();
	};


	Recipe.RecipeIngredients.Modal.clear_new_RecipeIngredient_modal =
	function clear_new_RecipeIngredient_modal()
	{
		Recipe.RecipeIngredients.Modal.NAME_SINGULAR_INPUT.value = "";
		Recipe.RecipeIngredients.Modal.NAME_PLURAL_INPUT.value = "";
		Recipe.RecipeIngredients.Modal.BRAND_INPUT.value = "";
		Recipe.RecipeIngredients.Modal.DESCRIPTION_TEXTAREA.value = "";
		Recipe.RecipeIngredients.Modal.GROUP_INPUT.value = "";
		Recipe.RecipeIngredients.Modal.AMOUNT_INPUT.value = "";
		Recipe.RecipeIngredients.Modal.UNIT_SINGULAR_INPUT.value = "";
		Recipe.RecipeIngredients.Modal.UNIT_PLURAL_INPUT.value
		Recipe.RecipeIngredients.Modal.QUALITY_INPUT.value = "";
		Recipe.RecipeIngredients.Modal.IS_REQUIRED_SELECT.selectedIndex = 0;
		Recipe.RecipeIngredients.Modal.NOTES_TEXTAREA.value = "";

		Recipe.RecipeIngredients.Modal.SUBMIT_BUTTON.disabled = true;
	};


	Recipe.RecipeIngredients.Modal.get_RecipeIngredient_data =
	function get_RecipeIngredient_data()
	{
		const recipe_ingredient_data =
		{
			names:
			[
				Recipe.RecipeIngredients.Modal.NAME_SINGULAR_INPUT.value,
				Recipe.RecipeIngredients.Modal.NAME_PLURAL_INPUT.value
			],
			brand: Recipe.RecipeIngredients.Modal.BRAND_INPUT.value,
			description: Recipe.RecipeIngredients.Modal.DESCRIPTION_TEXTAREA.value,
			group: Recipe.RecipeIngredients.Modal.GROUP_INPUT.value,
			amount: parseInt(Recipe.RecipeIngredients.Modal.AMOUNT_INPUT.value),
			units:
			[
				Recipe.RecipeIngredients.Modal.UNIT_SINGULAR_INPUT.value,
				Recipe.RecipeIngredients.Modal.UNIT_PLURAL_INPUT.value
			],
			quality: Recipe.RecipeIngredients.Modal.QUALITY_INPUT.value,
			is_required: Recipe.RecipeIngredients.Modal.IS_REQUIRED_SELECT.value,
			notes: Recipe.RecipeIngredients.Modal.NOTES_TEXTAREA.value
		};

		return recipe_ingredient_data;
	};


	Recipe.RecipeIngredients.Modal.set_submit_enablement =
	function set_submit_enablement()
	{
		const submit_button = Recipe.RecipeIngredients.Modal.SUBMIT_BUTTON;

		if(Recipe.RecipeIngredients.Modal.NAME_SINGULAR_INPUT.value == "")
		{
			submit_button.disabled = true;
		}
		else if(Recipe.RecipeIngredients.Modal.NAME_PLURAL_INPUT.value == "")
		{
			submit_button.disabled = true;
		}
		else if(Recipe.RecipeIngredients.Modal.IS_REQUIRED_SELECT.value == "-1")
		{
			submit_button.disabled = true;
		}
		else
		{
			submit_button.disabled = false;
		}
	}

</script>
