<table>
	<tr>
		<td>
			Ingredient Names
		</td>
		<td>
			(Singular)
			<input name="ingredient_name_singular-input-{{ count }}"
			  id="ingredient_name_singular-input-{{ count }}" type="text"
			/>
			(Plural)
			<input name="ingredient_name_plural-input-{{ count }}"
			  id="ingredient_name_plural-input-{{ count }}" type="text"
			/>
		</td>
	</tr>
	<tr>
		<td>
			Ingredient Brand
		</td>
		<td>
			<input name="ingredient_brand-input-{{ count }}"
			  id="ingredient_brand-input-{{ count }}" type="text"
			/>
		</td>
	</tr>
	<tr>
		<td>
			Description
		</td>
		<td>
			<textarea name="ingredient_Description-textarea-{{ count }}"
			  id="ingredient_Description-textarea-{{ count }}" type="text"
			>
			</textarea>
		</td>
	</tr>
</table>