<div id="recipe_ingredient-div-{{ count }}" class="recipe-ingredient-div">
	<table>
		<tr>
			<td>
				Select From Existing
			</td>
			<td>
				<select name="recipe_ingredient-select-{{ count }}" id="recipe_ingredient-select-{{ count }}"
				  onclick="ingredient_html(this);" 
				>
					<option value="-1" selected disabled>
						— SELECT FROM EXISTING INGREDIENTS —
					</option>
					{% for ingredient in ingredients %}
						<option value="{{ ingredient.id() }}">
							{{ "/".join(ingredient.names()) }}
							{% if ingredient.brand() != "" %}
								({{ ingredient.brand() }})
							{% endif %}
						</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			— OR —
			</td>
		</tr>
		<tr>
			<td style="text-align: top;">
				Create A New Ingredient
			</td>
			<td>
				<button type="button" onclick="new_ingredient_html({{ count }})">
					+ Add New Ingredient
				</button>
			</td>
		</tr>
		<tr>
			<td>
				Amount
			</td>
			<td>
				<input name="ingredient_amount-input-{{ count }}"
				  id="ingredient_amount-input-{{ count }}" type="text"
				/>
			</td>
		</tr>
		<tr>
			<td>
				Units
			</td>
			<td>
				(Singular)
				<input name="ingredient_units_singular-input-{{ count }}"
				  id="ingredient_units_singular-input-{{ count }}" type="text"
				/>
				(Plural)
				<input name="ingredient_units_plural-input-{{ count }}"
				  id="ingredient_units_plural-input-{{ count }}" type="text"
				/>
			</td>
		</tr>
		<tr>
			<td>
				Quality
			</td>
			<td>
				<input name="ingredient_quality-input-{{ count }}"
				  id="ingredient_quality-input-{{ count }}" type="text"
				/>
			</td>
		</tr>
		<tr>
			<td>
				Is Required
			</td>
			<td>
				<input name="ingredient_is_required-input-{{ count }}"
				  id="ingredient_is_required-input-{{ count }}" type="text"
				/>
			</td>
		</tr>
		<tr>
			<td>
				Notes
			</td>
			<td>
				<textarea name="ingredient_notes-textarea-{{ count }}"
				  id="ingredient_notes-textarea-{{ count }}" type="text"
				>
				</textarea>
			</td>
		</tr>
	</table>
	<button onclick="delete_ingredient({{ count }})">
</div>
