<div
  class="section-div boxed"
>
	<h4>
		Section Name
	</h4>
	<input
	  type="text"
	  onchange="update_json({{ indexing }}, this);"
	/>

	<div
	  class="content"
	>
		<button
			type="button"
			onclick="add_step_list(this.parentNode, true);"
		>
			+ Add Step List
		</button>
		<button
			type="button"
			onclick="add_section_dictionary(this.parentNode, true);"
		>
			+ Add Section
		</button>
	</div>
</div>