{% with indexing = indexing if indexing else "[]" %}
	<div
	  class="section-dictionary-div"
	>
		<div
		  class="content"
		>
			{% include("New/Instruction/Section.j2") %}
		</div>

		<button
			type="button"
			onclick="add_section(this);"
		>
			+ Add Another Section
		</button>
	</div>
{% endwith %}