<div
  class="section-div boxed"
>
	<h4>
		Section Name
	</h4>
	<input
	  type="text"
	  onchange="update_json({{ indexing }}, this);"
	/>

	<div
	  class="content"
	>
		{% include("New/Instruction/StepList.j2") %}
	</div>
</div>