<div
  class="step-list-div boxed"
  type=""
>
	<h4>
		Steps
		{% if section %}
			{{ section }}
		{% endif %}
	</h4>
	<div
	  class="content"
	>
	</div>

	<button
		type="button"
		onclick="add_step(this);"
	>
		+ Add Step
	</button>
	<button
		type="button"
		onclick="add_section_dictionary(this);"
	>
		+ New Section
	</button>
</div>