<div
  id="Recipe_RecipeIngredient-new_RecipeIngredient-modal"
  class="modal modal-xl"
  tabindex="-1"
>
	<div
	  class="modal-dialog"
	>
		<div
		  class="modal-content"
		>
			<div
			  class="modal-header"
			>
				<h5
				  class="modal-title"
				>
					New Ingredient
				</h5>
				<button
				  type="button"
				  class="btn-close"
				  data-bs-dismiss="modal"
				  aria-label="Close"
				>
				  </button>
			
			</div>
			<div
			  class="modal-body"
			>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredient-name_singular-modal-input"
					  class="col-sm-2 col-form-label"
					>
						Names
					</label>
					<div
					  class="col-sm-5"
					>
						<input
						  id="Recipe_RecipeIngredient-name_singular-modal-input"
						  class="form-control"
						  type="text"
						  placeholder="Singular"
						/>
					</div>
					<div
					  class="col-sm-5"
					>
						<input
						  id="Recipe_RecipeIngredient-name_plural-modal-input"
						  class="form-control"
						  type="text"
						  placeholder="Plural"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredient-brand-modal-input"
					  class="col-sm-2 col-form-label"
					>
						Brand
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="Recipe_RecipeIngredient-brand-modal-input"
						  class="form-control"
						  type="text"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredient-description-modal-textarea"
					  class="col-sm-2 col-form-label"
					>
						Description
					</label>
					<div
					  class="col-sm-10"
					>
						<textarea
						  id="Recipe_RecipeIngredient-description-modal-textarea"
						  class="form-control"
						  type="text"
						></textarea>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredient-group-modal-input"
					  class="col-sm-2 col-form-label"
					>
						Group
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="Recipe_RecipeIngredient-group-modal-input"
						  class="form-control"
						  type="text"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredient-amount-modal-input"
					  class="col-sm-2 col-form-label"
					>
						Amount
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="Recipe_RecipeIngredient-amount-modal-input"
						  class="form-control"
						  type="number"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredient-unit_singular-modal-input"
					  class="col-sm-2 col-form-label"
					>
						Units
					</label>
					<div
					  class="col-sm-5"
					>
						<input
						  id="Recipe_RecipeIngredient-unit_singular-modal-input"
						  class="form-control"
						  type="text"
						  placeholder="Singular"
						/>
					</div>
					<div
					  class="col-sm-5"
					>
						<input
						  id="Recipe_RecipeIngredient-unit_plural-modal-input"
						  class="form-control"
						  type="text"
						  placeholder="Plural"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredient-quality-modal-input"
					  class="col-sm-2 col-form-label"
					>
						Quality
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="Recipe_RecipeIngredient-quality-modal-input"
						  class="form-control"
						  type="text"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredient-is_required-modal-select"
					  class="col-sm-2 col-form-label"
					>
						Is Required
					</label>
					<div
					  class="col-sm-10"
					>
						<select
						  id="Recipe_RecipeIngredient-is_required-modal-select"
						  type="text"
						  class="form-control"
						>
							<option
							  value="-1" selected disabled
							>
								— SELECT WHETHER INGREDIENT IS REQUIRED FOR THE RECIPE —
							</option>
							<option
							  value="1"
							>
								True
							</option>
							<option
							  value="0"
							>
								False
							</option>
						</select>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="Recipe_RecipeIngredient-notes-modal-textarea"
					  class="col-sm-2 col-form-label"
					>
						Notes
					</label>
					<div
					  class="col-sm-10"
					>
						<textarea
						  id="Recipe_RecipeIngredient-notes-modal-textarea"
						  class="form-control"
						  type="text"
						></textarea>
					</div>
				</div>

			</div>
			<div
			  class="modal-footer"
			>
				<button
				  type="button"
				  class="btn btn-secondary"
				  data-bs-dismiss="modal"
				>
					Close
				</button>
				<button
				  type="button"
				  class="btn btn-primary"
				  onclick="Recipe.RecipeIngredient.Modal.add_RecipeIngredient_from_modal_to_new_RecipeIngredients();"
				>
					Add Ingredient
				</button>
			</div>
		</div>
	</div>
</div>


<script>
	Recipe.RecipeIngredient.Modal.add_RecipeIngredient_from_modal_to_new_RecipeIngredients =
	function()
	{
		const recipe_ingredients_div = document.getElementById("Recipe_RecipeIngredient-new_RecipeIngredients-div");
		const recipe_ingredient_data = Recipe.RecipeIngredient.Modal.get_RecipeIngredient_data();

		// ———— ADJUST UI ———— //
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", "/new/recipe/recipe_ingredient", false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send(JSON.stringify(recipe_ingredient_data));
		if(xmlhttp.status == 400)
		{
			return alert('There was an error 400');
		}
		else if(xmlhttp.status != 200)
		{
			return alert('add_new_recipe_ingredient_html::something else other than 200 was returned');
		}

		// Add built data to page
		recipe_ingredients_div.appendChild(html_to_element(xmlhttp.responseText));

		// Reset modal
		$('#Recipe_RecipeIngredient-new_RecipeIngredient-modal').modal('hide');
		Recipe.RecipeIngredient.Modal.clear_new_RecipeIngredient_modal();
	};


	Recipe.RecipeIngredient.Modal.clear_new_RecipeIngredient_modal =
	function()
	{
		document.getElementById("Recipe_RecipeIngredient-name_singular-modal-input").value = "";
		document.getElementById("Recipe_RecipeIngredient-name_plural-modal-input").value
		document.getElementById("Recipe_RecipeIngredient-brand-modal-input").value = "";
		document.getElementById("Recipe_RecipeIngredient-description-modal-textarea").value = "";
		document.getElementById("Recipe_RecipeIngredient-group-modal-input").value = "";
		document.getElementById("Recipe_RecipeIngredient-amount-modal-input").value = "";
		document.getElementById("Recipe_RecipeIngredient-unit_singular-modal-input").value = "";
		document.getElementById("Recipe_RecipeIngredient-unit_plural-modal-input").value
		document.getElementById("Recipe_RecipeIngredient-quality-modal-input").value = "";
		document.getElementById("Recipe_RecipeIngredient-is_required-modal-select").value = "";
		document.getElementById("Recipe_RecipeIngredient-notes-modal-textarea").value = "";
	};


	Recipe.RecipeIngredient.Modal.get_RecipeIngredient_data =
	function()
	{
		const recipe_ingredient_data =
		{
			names:
			[
				document.getElementById("Recipe_RecipeIngredient-name_singular-modal-input").value,
				document.getElementById("Recipe_RecipeIngredient-name_plural-modal-input").value
			],
			brand: document.getElementById("Recipe_RecipeIngredient-brand-modal-input").value,
			description: document.getElementById("Recipe_RecipeIngredient-description-modal-textarea").value,
			group: document.getElementById("Recipe_RecipeIngredient-group-modal-input").value,
			amount: document.getElementById("Recipe_RecipeIngredient-amount-modal-input").value,
			units:
			[
				document.getElementById("Recipe_RecipeIngredient-unit_singular-modal-input").value,
				document.getElementById("Recipe_RecipeIngredient-unit_plural-modal-input").value
			],
			quality: document.getElementById("Recipe_RecipeIngredient-quality-modal-input").value,
			is_required: document.getElementById("Recipe_RecipeIngredient-is_required-modal-select").value,
			notes: document.getElementById("Recipe_RecipeIngredient-notes-modal-textarea").value
		};

		return recipe_ingredient_data;
	};

</script>
