<table class="boxed">
	<thead>
		<th>
			<td colspan="2">
				<h4>
					New Ingredient
				</h4>
			</td>
		</th>
	</thead>
	<tr>
		<td>
			Ingredient Names
		</td>
		<td>
			(Singular)
			<input name="ingredient_name_singular-input-" id="ingredient_name_singular-input-" type="text"/>
			(Plural)
			<input name="ingredient_name_plural-input-" id="ingredient_name_plural-input-" type="text"/>
		</td>
	</tr>
	<tr>
		<td>
			Ingredient Brand
		</td>
		<td>
			<input name="ingredient_brand-input-" id="ingredient_brand-input-" type="text"/>
		</td>
	</tr>
	<tr>
		<td>
			Description
		</td>
		<td>
			<textarea name="ingredient_Description-textarea-" id="ingredient_Description-textarea-">
			</textarea>
		</td>
	</tr>
</table>
