<select onchange="add_ingredient_html(this);">
	<option value="-1" selected disabled>
		— SELECT FROM EXISTING INGREDIENTS —
	</option>
	{% for ingredient in ingredients %}
		<option value="{{ ingredient.id() }}"
			{% if selected_id == ingredient.id() %}
				selected
			{% endif %}
		>
			{{ ingredient.names()[0] }}
			{% if ingredient.brand() != "" %}
				({{ ingredient.brand() }})
			{% endif %}
		</option>
	{% endfor %}
</select>