<div
  id="Recipe_RecipeIngredients_New-new_RecipeIngredient-{{ uuid }}-div"
  class="boxed recipe_ingredient-div"
>
	<div
	  class="d-flex justify-content-between"
	>
		<button
		  type="button"
		  class="btn btn-secondary ms-auto"
		  onclick="Recipe.RecipeIngredients.delete_RecipeIngredient_from_new_RecipeIngredients(`{{ uuid }}`)"
		>
			Remove
		</button>
	</div>

	<div
	  class="row"
	>
		<label
		  for="Recipe_RecipeIngredients_New-name_singular-{{ uuid }}-input"
		  class="col-sm-2 col-form-label"
		>
			Names
		</label>
		<div
		  class="col-sm-5"
		>
			<input
			  id="Recipe_RecipeIngredients_New-name_singular-{{ uuid }}-input"
			  class="form-control"
			  type="text"
			  value="{{ ingredient.names()[0] }}"
			  disabled
			  readonly
			/>
		</div>
		<div
		  class="col-sm-5"
		>
			<input
			  class="form-control"
			  type="text"
			  value="{{ ingredient.names()[1] }}"
			  disabled
			  readonly
			/>
		</div>
	</div>

	<div
	  class="row"
	>
		<label
		  for="Recipe_RecipeIngredients_New-brand-{{ uuid }}-input"
		  class="col-sm-2 col-form-label"
		>
			Brand
		</label>
		<div
		  class="col-sm-10"
		>
			<input
			  id="Recipe_RecipeIngredients_New-brand-{{ uuid }}-input"
			  class="form-control"
			  type="text"
			  value="{{ ingredient.brand() }}"
			  disabled
			  readonly
			/>
		</div>
	</div>

	<div
	  class="row"
	>
		<label
		  for="Recipe_RecipeIngredients_New-description-{{ uuid }}-textarea"
		  class="col-sm-2 col-form-label"
		>
			Description
		</label>
		<div
		  class="col-sm-10"
		>
			<textarea
			  id="Recipe_RecipeIngredients_New-description-{{ uuid }}-textarea"
			  class="form-control"
			  type="text"
			  disabled
			  readonly
			>{{ ingredient.description() }}</textarea>
		</div>
	</div>

	<div
	  class="row"
	>
		<label
		  for="Recipe_RecipeIngredients_New-amount-{{ uuid }}-input"
		  class="col-sm-2 col-form-label"
		>
			Amount
		</label>
		<div
		  class="col-sm-10"
		>
			<input
			  id="Recipe_RecipeIngredients_New-amount-{{ uuid }}-input"
			  class="form-control"
			  type="text"
			  value="{{ ingredient.amount() }}"
			  disabled
			  readonly
			/>
		</div>
	</div>

	<div
	  class="row"
	>
		<label
		  for="Recipe_RecipeIngredients_New-unit_singular-{{ uuid }}-input"
		  class="col-sm-2 col-form-label"
		>
			Units
		</label>
		<div
		  class="col-sm-5"
		>
			<input
			  id="Recipe_RecipeIngredients_New-unit_singular-{{ uuid }}-input"
			  class="form-control"
			  type="text"
			  value="{{ ingredient.units()[0] }}"
			  disabled
			  readonly
			/>
		</div>
		<div
		  class="col-sm-5"
		>
			<input
			  class="form-control"
			  type="text"
			  value="{{ ingredient.units()[1] }}"
			  disabled
			  readonly
			/>
		</div>
	</div>

	<div
	  class="row"
	>
		<label
		  for="Recipe_RecipeIngredients_New-quality-{{ uuid }}-input"
		  class="col-sm-2 col-form-label"
		>
			Quality
		</label>
		<div
		  class="col-sm-10"
		>
			<input
			  id="Recipe_RecipeIngredients_New-quality-{{ uuid }}-input"
			  class="form-control"
			  type="text"
			  value="{{ ingredient.quality() }}"
			  disabled
			  readonly
			/>
		</div>
	</div>

	<div
	  class="row"
	>
		<label
		  for="Recipe_RecipeIngredients_New-is_required-{{ uuid }}-select"
		  class="col-sm-2 col-form-label"
		>
			Is Required
		</label>
		<div
		  class="col-sm-10"
		>
			<select
			  type="text"
			  class="form-control"
			  disabled
			  readonly
			>
				<option
				  value="{{ ingredient.is_required() }}" selected
				>
					{% if ingredient.is_required() %}
						True
					{% else %}
						False
					{% endif %}
				</option>
			</select>
		</div>
	</div>

	<div
	  class="row"
	>
		<label
		  for="Recipe_RecipeIngredients_New-notes-{{ uuid }}-textarea"
		  class="col-sm-2 col-form-label"
		>
			Notes
		</label>
		<div
		  class="col-sm-10"
		>
			<textarea
			  id="Recipe_RecipeIngredients_New-notes-{{ uuid }}-textarea"
			  class="form-control"
			  type="text"
			  disabled
			  readonly
			>{{ ingredient.notes() }}</textarea>
		</div>
	</div>
</div>
