<div
  id="new_recipe_ingredient-modal"
  class="modal modal-lg"
  tabindex="-1"
>
	<div
	  class="modal-dialog"
	>
		<div
		  class="modal-content"
		>
			<div
			  class="modal-header"
			>
				<h5
				  class="modal-title"
				>
					New Ingredient
				</h5>
				<button
				  type="button"
				  class="btn-close"
				  data-bs-dismiss="modal"
				  aria-label="Close"
				>
				  </button>
			
			</div>
			<div
			  class="modal-body"
			>

				<div
				  class="row"
				>
					<label
					  for="ingredient_name_singular-input-modal"
					  class="col-sm-2 col-form-label"
					>
						Names
					</label>
					<div
					  class="col-sm-5"
					>
						<input
						  id="ingredient_name_singular-input-modal"
						  class="form-control"
						  type="text"
						  placeholder="Singular"
						/>
					</div>
					<div
					  class="col-sm-5"
					>
						<input
						  id="ingredient_name_plural-input-modal"
						  class="form-control"
						  type="text"
						  placeholder="Plural"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="ingredient_brand-input-modal"
					  class="col-sm-2 col-form-label"
					>
						Brand
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="ingredient_brand-input-modal"
						  class="form-control"
						  type="text"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="ingredient_description-textarea-modal"
					  class="col-sm-2 col-form-label"
					>
						Description
					</label>
					<div
					  class="col-sm-10"
					>
						<textarea
						  id="ingredient_description-textarea-modal"
						  class="form-control"
						  type="text"
						></textarea>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="ingredient_amount-input-modal"
					  class="col-sm-2 col-form-label"
					>
						Amount
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="ingredient_amount-input-modal"
						  class="form-control"
						  type="text"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="ingredient_unit_singular-input-modal"
					  class="col-sm-2 col-form-label"
					>
						Units
					</label>
					<div
					  class="col-sm-5"
					>
						<input
						  id="ingredient_unit_singular-input-modal"
						  class="form-control"
						  type="text"
						  placeholder="Singular"
						/>
					</div>
					<div
					  class="col-sm-5"
					>
						<input
						  id="ingredient_unit_plural-input-modal"
						  class="form-control"
						  type="text"
						  placeholder="Plural"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="ingredient_quality-input-modal"
					  class="col-sm-2 col-form-label"
					>
						Quality
					</label>
					<div
					  class="col-sm-10"
					>
						<input
						  id="ingredient_quality-input-modal"
						  class="form-control"
						  type="text"
						/>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="ingredient_is_required-select-modal"
					  class="col-sm-2 col-form-label"
					>
						Is Required
					</label>
					<div
					  class="col-sm-10"
					>
						<select
						  type="text"
						  class="form-control"
						>
							<option
							  value="-1" selected disabled
							>
								— SELECT WHETHER INGREDIENT IS REQUIRED FOR THE RECIPE —
							</option>
							<option
							  value="1"
							>
								True
							</option>
							<option
							  value="0"
							>
								False
							</option>
						</select>
					</div>
				</div>

				<div
				  class="row"
				>
					<label
					  for="ingredient_notes-textarea-modal"
					  class="col-sm-2 col-form-label"
					>
						Notes
					</label>
					<div
					  class="col-sm-10"
					>
						<textarea
						  id="ingredient_notes-textarea-modal"
						  class="form-control"
						  type="text"
						></textarea>
					</div>
				</div>

			</div>
			<div
			  class="modal-footer"
			>
				<button
				  type="button"
				  class="btn btn-secondary"
				  data-bs-dismiss="modal"
				>
					Close
				</button>
				<button
				  type="button"
				  class="btn btn-primary"
				>
					Add Ingredient
				</button>
			</div>
		</div>
	</div>
</div>