<div
  class="boxed recipe_ingredient-div"
>
	<table>
		<tr>
			<td>
				Name
			</td>
			<td>
				<input
				  type="text"
				  class="ingredient_singular_name-input"
				  placeholder="Singular"
				  list="ingredient_name_singular-datalist-"
				  onchange="update_ingredient(this);"
				  oninput="update_ingredient(this);"
				/>
				<datalist
				  class="ingredient_name_singular-datalist"
				>
					{% for ingredient in ingredients %}
						<option
						  ingredient-id="{{ ingredient.id() }}"
						  value="{{ ingredient.names()[0] }}"
						>
							{{ ingredient.brand() }}
						</option>
					{% endfor %}
				</datalist>
				<input
				  type="text"
				  class="ingredient_plural_name-input"
				  placeholder="Plural"
				  list="ingredient_name_plural-datalist-"
				  onchange="update_ingredient(this);"
				  oninput="update_ingredient(this);"
				/>
				<datalist
				  class="ingredient_name_plural-datalist"
				>
					{% for ingredient in ingredients %}
						<option
						  ingredient-id="{{ ingredient.id() }}"
						  value="{{ ingredient.names()[1] }}"
						>
							{{ ingredient.brand() }}
						</option>
					{% endfor %}
				</datalist>
			</td>
		</tr>
		<tr>
			<td>
				Ingredient Brand
			</td>
			<td>
				<input
				  type="text"
				  class="ingredient_brand-input"
				/>
			</td>
		</tr>
		<tr>
			<td>
				Description
			</td>
			<td>
				<textarea
				  class="ingredient_description-textarea"
				></textarea>
			</td>
		</tr>
		<tr>
			<td>
				Amount
			</td>
			<td>
				<input
				  type="text"
				  class="recipe_ingredient_amount-input"
				/>
			</td>
		</tr>
		<tr>
			<td>
				Units
			</td>
			<td>
				<input 
				  type="text"
				  class="recipe_ingredient_units_singular-input"
				  placeholder="Singular" 
				/>
				<input
				  type="text"
				  class="recipe_ingredient_units_plural-input"
				  placeholder="Plural" 
				/>
			</td>
		</tr>
		<tr>
			<td>
				Quality
			</td>
			<td>
				<input
				  type="text"
				  class="recipe_ingredient_quality-input"
				/>
			</td>
		</tr>
		<tr>
			<td>
				Is Required
			</td>
			<td>
				<select
				  type="text"
				  class="recipe_ingredient_is_required-select"
				>
					<option
					  value="-1" selected disabled
					>
						— SELECT WHETHER INGREDIENT IS REQUIRED FOR THE RECIPE —
					</option>
					<option
					  value="1"
					>
						True
					</option>
					<option
					  value="0"
					>
						False
					</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				Notes
			</td>
			<td>
				<textarea
				  type="text"
				  class="recipe_ingredient_notes-textarea"
				></textarea>
			</td>
		</tr>
	</table>
	<button
	  type="button"
	  onclick="delete_ingredient(this.parentNode)"
	>
		Remove
	</button>
</div>
