<div
  class="boxed recipe_ingredient-div"
>
	<table>
		<tr>
			<td>
				Name
			</td>
			<td>
				<input
				  name="ingredient_name_singular-input-"
				  id="ingredient_name_singular-input-"
				  class="ingredient_name-input ingredient_singular_name-input"
				  type="text"
				  placeholder="Singular"
				  list="ingredient_name_singular-datalist-"
				  onchange="update_ingredient(this);"
				  oninput="update_ingredient(this);"
				/>
				<datalist
				  id="ingredient_name_singular-datalist-"
				  class="ingredient_name_singular-datalist"
				>
					{% for ingredient in ingredients %}
						<option
						  ingredient-id="{{ ingredient.id() }}"
						  value="{{ ingredient.names()[0] }}"
						>
							{{ ingredient.brand() }}
						</option>
					{% endfor %}
				</datalist>
				<input
				  name="ingredient_name_plural-input-"
				  id="ingredient_name_plural-input-"
				  class="ingredient_name-input ingredient_plural_name-input"
				  type="text"
				  placeholder="Plural"
				  list="ingredient_name_plural-datalist-"
				  onchange="update_ingredient(this);"
				  oninput="update_ingredient(this);"
				/>
				<datalist
				  id="ingredient_name_plural-datalist-"
				  class="ingredient_name_plural-datalist"
				>
					{% for ingredient in ingredients %}
						<option
						  ingredient-id="{{ ingredient.id() }}"
						  value="{{ ingredient.names()[1] }}"
						>
							{{ ingredient.brand() }}
						</option>
					{% endfor %}
				</datalist>
			</td>
		</tr>
		<tr>
			<td>
				Ingredient Brand
			</td>
			<td>
				<input
				  name="ingredient_brand-input-"
				  id="ingredient_brand-input-"
				  type="text"
				  class="ingredient_brand-input"
				/>
			</td>
		</tr>
		<tr>
			<td>
				Description
			</td>
			<td>
				<textarea
				  name="ingredient_Description-textarea-"
				  id="ingredient_Description-textarea-"
				></textarea>
			</td>
		</tr>
		<tr>
			<td>
				Amount
			</td>
			<td>
				<input
				  name="ingredient_amount-input-"
				  id="ingredient_amount-input-"
				  type="text"
				/>
			</td>
		</tr>
		<tr>
			<td>
				Units
			</td>
			<td>
				<input 
				  name="ingredient_units_singular-input-"
				  id="ingredient_units_singular-input-" 
				  type="text"
				  placeholder="Singular" 
				/>
				<input
				  name="ingredient_units_plural-input-" 
				  id="ingredient_units_plural-input-"
				  type="text"
				  placeholder="Plural" 
				/>
			</td>
		</tr>
		<tr>
			<td>
				Quality
			</td>
			<td>
				<input
				  name="ingredient_quality-input-"
				  id="ingredient_quality-input-"
				  type="text"
				/>
			</td>
		</tr>
		<tr>
			<td>
				Is Required
			</td>
			<td>
				<select
				  name="ingredient_is_required-input-"
				  id="ingredient_is_required-input-"
				  type="text"
				>
					<option value="-1" selected disabled>
						— SELECT WHETHER INGREDIENT IS REQUIRED FOR THE RECIPE —
					</option>
					<option value="1">
						True
					</option>
					<option value="0">
						False
					</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				Notes
			</td>
			<td>
				<textarea
				  name="ingredient_notes-textarea-"
				  id="ingredient_notes-textarea-"
				  type="text"
				></textarea>
			</td>
		</tr>
	</table>
	<button
	  type="button"
	  onclick="delete_ingredient(this.parentNode)"
	>
		Remove
	</button>
</div>
