
<!----------------------------------------------------------------------------------------------------------------------
-                                                                                                                      -
-    Created by: MPZinke on 2023.02.05                                                                                 -
-                                                                                                                      -
-    DESCRIPTION:                                                                                                      -
-    BUGS:                                                                                                             -
-    FUTURE:                                                                                                           -
-                                                                                                                      -
----------------------------------------------------------------------------------------------------------------------->


{% extends "Header.j2" %}
{% block body %}
	<script>
		var Recipe =
		{
			update_json:
			function(element, keys)
			{

			}
		};
	</script>

	<form>
		{% include("New/Recipe/Name.j2") %}
		{% include("New/Recipe/Servings.j2") %}
		{% include("New/Recipe/Rating.j2") %}
		{% include("New/Recipe/PrepTime.j2") %}
		{% include("New/Recipe/CookTime.j2") %}
		{% include("New/Recipe/TotalTime.j2") %}
		{% include("New/Recipe/Notes.j2") %}
	</form>

	{% include("New/Recipe/RecipeIngredient/Index.j2") %}
	{% include("New/Recipe/Instruction/Index.j2") %}

{% endblock %}
