
<!----------------------------------------------------------------------------------------------------------------------
-                                                                                                                      -
-    Created by: MPZinke on 2023.02.05                                                                                 -
-                                                                                                                      -
-    DESCRIPTION:                                                                                                      -
-    BUGS:                                                                                                             -
-    FUTURE:                                                                                                           -
-                                                                                                                      -
----------------------------------------------------------------------------------------------------------------------->


{% extends "Header.j2" %}
{% block body %}
	<script>
		var Recipe = {};  // Initialize namespace `Recipe`
	</script>

	<input
	  id="Recipe-new_Recipe_json-div"
	  name="Recipe-new_Recipe_json-div"
	  hidden
	/>

	<form>
		{% include("New/Recipe/Name.j2") %}
		{% include("New/Recipe/Servings.j2") %}
		{% include("New/Recipe/Rating.j2") %}
		{% include("New/Recipe/PrepTime.j2") %}
		{% include("New/Recipe/CookTime.j2") %}
		{% include("New/Recipe/TotalTime.j2") %}
		{% include("New/Recipe/Notes.j2") %}
	</form>

	{% include("New/Recipe/Instructions/Index.j2") %}
	{% include("New/Recipe/RecipeIngredients/Index.j2") %}

	<button
	  type="button"
	  onclick="Recipe.submit();"
	>
		Add Recipe
	</button>

<script>
	Recipe.NEW_RECIPE = {};


	Recipe.uuid4 =
	function uuid4()
	{
		return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g,
			function(c)
			{
				const r = Math.random() * 16 | 0;
				const v = c === 'x' ? r : (r & 0x3 | 0x8);
				return v.toString(16);
			}
		);
	}


	Recipe.submit =
	function submit()
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", "/api/recipe/new", false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send(JSON.stringify(Recipe.NEW_RECIPE));
		if(xmlhttp.status == 400)
		{
			return alert('There was an error 400');
		}
		else if(xmlhttp.status != 200)
		{
			return alert('add_new_recipe_ingredient_html::something else other than 200 was returned');
		}

		console.log("Success");
	};


	Recipe.validate =
	function validate()
	{

	};
</script>

{% endblock %}
