<div
  class="row"
>
	<div
	  class="col-sm-12"
	>
		<input
		  id="Recipe-name-input"
		  class="form-control form-control-lg col-sm-4"
		  onclick="update_json(this, `name`);"
		  placeholder="Recipe Name"
		  type="text"
		/>
	</div>
</div>
