<div
  class="form-group row"
>
	<label
	  for="notes-textarea"
	  class="col-sm-4 col-form-label"
	>
		Notes
	</label>
	<div
	  class="col-sm-8"
	>
		<textarea
		  id="notes-textarea"
		  class="form-control"
		  onclick="update_json(this, `notes`);"
		  type="number"
		  rows="3"
		>
		</textarea>
	</div>
</div>
