<div
  class="form-group row"
>
	<label
	  for="Recipe-prep_time-input"
	  class="col-sm-4 col-form-label"
	>
		Prep Time
	</label>
	<div
	  class="col-sm-8"
	>
		<input
		  id="Recipe-prep_time-input"
		  class="form-control"
		  onchange="Recipe.NEW_RECIPE.prep_time = this.value;"
		  type="number"
		/>
	</div>
</div>
