<div
  class="form-group row"
>
	<label
	  for="Recipe-rating-input"
	  class="col-sm-4 col-form-label"
	>
		Rating
	</label>
	<div
	  class="col-sm-8"
	>
		<input
		  id="Recipe-rating-input"
		  class="form-control"
		  onchange="Recipe.NEW_RECIPE.rating = this.value;"
		  type="number"
		  min="0"
		  max="5"
		/>
	</div>
</div>
