<div
  class="form-group row"
>
	<label
	  for="Recipe-servings-input"
	  class="col-sm-4 col-form-label"
	>
		Servings
	</label>
	<div
	  class="col-sm-8"
	>
		<input
		  id="Recipe-servings-input"
		  class="form-control"
		  onchange="
		    Recipe.NEW_RECIPE.servings = parseInt(this.value);
		    this.classList.remove(`is-invalid`);"
		  onkeyup="this.classList.remove(`is-invalid`);"
		  type="number"
		/>
	</div>
</div>

<script>
	Recipe.SERVINGS_INPUT = document.getElementById("Recipe-servings-input");
</script>
