<div
  class="form-group row"
>
	<label
	  for="Recipe-servings-input"
	  class="col-sm-4 col-form-label"
	>
		Servings
	</label>
	<div
	  class="col-sm-8"
	>
		<input
		  id="Recipe-servings-input"
		  class="form-control"
		  onchange="Recipe.update_json(this.value, `servings`);"
		  type="number"
		/>
	</div>
</div>
