<div
  class="form-group row"
>
	<label
	  for="total_time-input"
	  class="col-sm-4 col-form-label"
	>
		Total Time
	</label>
	<div
	  class="col-sm-8"
	>
		<input
		  id="total_time-input"
		  class="form-control"
		  onclick="update_json(this, `total_time`);"
		  type="number"
		/>
	</div>
</div>
