<script>
	Recipe.Instructions.Section.Modal = {};  // Initialize namespace `Recipe.Instructions.Section.Modal`

	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_NAME_INPUT = undefined;
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_LIST_UL = undefined;
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_NAME_INPUT = undefined;
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_LIST_NAME_H1 = undefined;
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_LIST_UL = undefined;
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_TEXTAREA = undefined;
	Recipe.Instructions.Section.Modal.ADD_NEW_INSTRUCTION_SECTION_BUTTON = undefined;
</script>

<div
  class="modal modal-xl fade"
  id="Recipe_Instructions_Section_Modal-new_Instruction_section-modal"
  aria-hidden="true"
  tabindex="-1"
>
	<div
	  class="modal-dialog modal-dialog-centered"
	>
		<div
		  class="modal-content"
		>
			<div
			  class="modal-header"
			>
				<h1
				  class="modal-title fs-5"
				>
					<input
					  id="Recipe_Instructions_Section_Modal-new_Instruction_section_name-input"
					  class="form-control form-control-lg col-sm-4"
					  placeholder="Instruction Section Name"
					  onchange="Recipe.Instructions.Section.Modal.check_section_name(this);"
					  onkeyup="Recipe.Instructions.Section.Modal.check_section_name(this);"
					  type="text"
					/>
				</h1>
				<button
				  type="button"
				  class="btn-close"
				  data-bs-dismiss="modal"
				  aria-label="Close"
				  onclick="Recipe.Instructions.show_type_selection_buttons();"
				>
				</button>
			</div>
			<div
			  class="modal-body"
			>
				<ul
				  id="Recipe_Instructions_Section_Modal-new_Instruction_section_list-ul"
				  class="list-group"
				>
				</ul>

				<button
				  class="btn btn-light"
				  style="margin-top: 8px;"
				  data-bs-target="#Recipe_Instructions_Section_Modal-new_Instruction_section_instruction-modal"
				  onclick="
				    Recipe.Instructions.Section.Modal.open_list_modal();
				    Recipe.Instructions.Section.Modal.focus_instruction_textarea();"
				  data-bs-toggle="modal"
				>
					Add an Instruction
				</button>
			</div>
			<div
			  class="modal-footer"
			>
				<button
				  id="Recipe_Instructions_Section_Modal-add_new_Instruction_section_button-button"
				  class="btn btn-primary"
				  data-bs-dismiss="modal"
				  onclick="
				    // Must be in this order
				    let uuid4 = Recipe.uuid4();
				    Recipe.Instructions.Section.Modal.add_section_Instruction_to_Recipe_json(uuid4);
				    Recipe.Instructions.Section.Modal.add_section_Instruction_to_new_Instructions(uuid4);
				  "
				>
					Add Instruction To Section
				</button>
			</div>
		</div>
	</div>
</div>

<div
  class="modal modal-xl fade"
  id="Recipe_Instructions_Section_Modal-new_Instruction_section_instruction-modal"
  aria-hidden="true"
  tabindex="-1"
>
	<div
	  class="modal-dialog modal-dialog-centered"
	>
		<div
		  class="modal-content"
		>
			<div
			  class="modal-header"
			>
				<h1
				  class="modal-title fs-5"
				  id="Recipe_Instructions_Section_Modal-new_Instruction_section_list_name-h1"
				>
				</h1>
				<button
				  class="btn btn-close btn-secondary"
				  data-bs-target="#Recipe_Instructions_Section_Modal-new_Instruction_section-modal"
				  data-bs-toggle="modal"
				  aria-label="Close"
				></button>
			</div>
			<div
			  class="modal-body"
			>
				<textarea
				  id="Recipe_Instructions_Section_Modal-new_instruction-textarea"
				  class="form-control"
				  autofocus
				></textarea>
			</div>
			<div
			  class="modal-footer"
			>
				<button
				  class="btn btn-primary"
				  data-bs-target="#Recipe_Instructions_Section_Modal-new_Instruction_section-modal"
				  onclick="Recipe.Instructions.Section.Modal.add_Instruction_to_Instruction_section_modal();"
				  data-bs-toggle="modal"
				>
					Add To Section
				</button>
			</div>
		</div>
	</div>
</div>


<script>
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_NAME_INPUT = 
	  document.getElementById("Recipe_Instructions_Section_Modal-new_Instruction_section_name-input");
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_LIST_UL = 
	  document.getElementById("Recipe_Instructions_Section_Modal-new_Instruction_section_list-ul");
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_NAME_INPUT = 
	  document.getElementById("Recipe_Instructions_Section_Modal-new_Instruction_section_name-input");
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_LIST_NAME_H1 = 
	  document.getElementById("Recipe_Instructions_Section_Modal-new_Instruction_section_list_name-h1");
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_LIST_UL = 
	  document.getElementById("Recipe_Instructions_Section_Modal-new_Instruction_section_list-ul");
	Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_TEXTAREA = 
	  document.getElementById("Recipe_Instructions_Section_Modal-new_instruction-textarea");
	Recipe.Instructions.Section.Modal.ADD_NEW_INSTRUCTION_SECTION_BUTTON = 
	  document.getElementById("Recipe_Instructions_Section_Modal-add_new_Instruction_section_button-button");


	Recipe.Instructions.Section.Modal.add_Instruction_to_Instruction_section_modal =
	function add_Instruction_to_Instruction_section_modal()
	{
		const uuid4 = Recipe.uuid4();

		const instruction = Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_TEXTAREA.value;
		Recipe.Instructions.Section.INSTRUCTIONS[uuid4] = instruction;

		Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_TEXTAREA.value = "";
		const list_element = html_to_element(`
		<li
		  id="Recipe_Instructions_Section_Modal-instruction-${uuid4}-li"
		  class="list-group-item d-flex justify-content-between"
		>
			${instruction}
			<button
			  type="button"
			  class="btn btn-secondary ms-auto"
			  onclick="Recipe.Instructions.Section.Modal.delete_instruction(\`${uuid4}\`)"
			>
				Remove
			</button>
		</li>`);
		Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_LIST_UL.appendChild(list_element);
	};


	Recipe.Instructions.Section.Modal.add_section_Instruction_to_Recipe_json =
	function add_section_Instruction_to_Recipe_json(uuid4)
	{
		const section_name = Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_NAME_INPUT.value;

		if(Recipe.NEW_RECIPE.Instructions === undefined)
		{
			Recipe.NEW_RECIPE.Instructions = {};
		}

		Recipe.NEW_RECIPE.Instructions[uuid4] = {
		  name: section_name, 
		  instructions: Recipe.Instructions.Section.INSTRUCTIONS
		};
		Recipe.Instructions.Section.INSTRUCTIONS = {};
	};


	Recipe.Instructions.Section.Modal.add_section_Instruction_to_new_Instructions =
	function add_section_Instruction_to_new_Instructions(uuid4)
	{
		const section_data = {[uuid4]: Recipe.NEW_RECIPE.Instructions[uuid4]};

		// ———— ADJUST UI ———— //
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", "/new/recipe/instruction/section", false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send(JSON.stringify(section_data));
		if(xmlhttp.status == 400)
		{
			return alert('There was an error 400');
		}
		else if(xmlhttp.status != 200)
		{
			return alert('add_new_recipe_ingredient_html::something else other than 200 was returned');
		}

		// Add built data to page
		Recipe.Instructions.NEW_INSTRUCTIONS_DIV.appendChild(html_to_element(xmlhttp.responseText));

		Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_NAME_INPUT.value = "";
		Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_LIST_UL.innerHTML = "";
	};


	Recipe.Instructions.Section.Modal.check_section_name = 
	function check_section_name(section_input)
	{
		const section_name = section_input.value;

		if(Recipe.NEW_RECIPE.Instructions === undefined)
		{
			return;
		}

		if(Recipe.NEW_RECIPE.Instructions[section_name] === undefined)
		{
			section_input.classList.remove("is-invalid");
			Recipe.Instructions.Section.Modal.ADD_NEW_INSTRUCTION_SECTION_BUTTON.disabled = false;
		}
		else
		{
			section_input.classList.add("is-invalid");
			Recipe.Instructions.Section.Modal.ADD_NEW_INSTRUCTION_SECTION_BUTTON.disabled = true;
		}
	};


	Recipe.Instructions.Section.Modal.delete_instruction =
	function delete_instruction(uuid4)
	{
		const Instruction_li = document.getElementById(`Recipe_Instructions_Section_Modal-instruction-${uuid4}-li`);
		Instruction_li.parentNode.removeChild(Instruction_li);

		delete Recipe.Instructions.Section.INSTRUCTIONS[uuid4];
	}


	Recipe.Instructions.Section.Modal.focus_section_name_input =
	function focus_section_name_input()
	{
		Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_NAME_INPUT.focus();
	};


	Recipe.Instructions.Section.Modal.focus_instruction_textarea =
	function focus_instruction_textarea()
	{
		Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_TEXTAREA.focus();
	};


	Recipe.Instructions.Section.Modal.open_list_modal =
	function open_list_modal()
	{
		const section_name = Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_NAME_INPUT.value;
		Recipe.Instructions.Section.Modal.NEW_INSTRUCTION_SECTION_LIST_NAME_H1.innerHTML = section_name;
	};
</script>
