<div
  id="Recipe_Instructions_Section_New-new_section-{{ section_uuid }}-div"
  class="boxed recipe_ingredient-div"
>
	<div
	  class="d-flex justify-content-between"
	>
		<h3>
			{{ section["name"] }}
		</h3>
		<button
		  type="button"
		  class="btn btn-secondary ms-auto"
		  onclick="Recipe.Instructions.Section.delete_section_from_new_Instructions(`{{ section_uuid }}`);"
		>
			Remove
		</button>
	</div>
	<ul
	  id="Recipe_Instructions_Section_New-new_section_list-{{ section_uuid }}-ul"
	  class="list-group"
	>
		{% for instruction_uuid, instruction in section["instructions"].items() %}
			<li
			  id="Recipe_Instructions_Section-section_list_item-{{ instruction_uuid }}-li"
			  class="list-group-item d-flex justify-content-between"
			>
				{{ instruction }}
				<button
				  type="button"
				  class="btn btn-secondary ms-auto"
				  onclick="Recipe.Instructions.Section.delete_Instruction_from_section(`{{ section_uuid }}`, `{{ instruction_uuid }}`);"
				>
					Remove
				</button>
			</li>
		{% endfor %}
	</ul>
</div>
