<div
  class="form-group row"
>
	<label
	  for="Recipe-prep_time-input"
	  class="col-sm-4 col-form-label"
	>
		Prep Time
	</label>
	<div
	  class="col-sm-4"
	  style="padding: 4px;"
	>
		<div
		  class="input-group"
		>
			<span
			  class="input-group-text"
			>
				Hours
			</span>
			<input
			  id="Recipe-prep_time_hours-input"
			  type="number"
			  class="form-control"
			  onchange="Recipe.update_prep_time();"
			/>
		</div>
	</div>
	<div
	  class="col-sm-4"
	  style="padding: 4px;"
	>
		<div
		  class="input-group"
		>
			<span
			  class="input-group-text"
			>
				Minutes
			</span>
			<input
			  id="Recipe-prep_time_minutes-input"
			  type="number"
			  class="form-control"
			  onchange="Recipe.update_prep_time();"
			>
		</div>
	</div>
</div>

<script>
	Recipe.PREP_TIME_HOURS_INPUT = document.getElementById("Recipe-prep_time_hours-input");
	Recipe.PREP_TIME_MINUTES_INPUT = document.getElementById("Recipe-prep_time_minutes-input");


	Recipe.update_prep_time = 
	function update_prep_time()
	{
		const time_in_minutes = parseInt(Recipe.PREP_TIME_HOURS_INPUT.value || 0) * 60
		  + parseInt(Recipe.PREP_TIME_MINUTES_INPUT.value || 0);
		Recipe.NEW_RECIPE.prep_time = time_in_minutes;
	};
</script>
