<script>
	Recipe.Instructions = {};  // Initialize namespace `Recipe.Instructions`
	Recipe.Instructions.NEW_INSTRUCTIONS_DIV = undefined;
	Recipe.Instructions.LIST_TYPE_SELECT_BUTTON = undefined;
	Recipe.Instructions.SECTION_TYPE_SELECT_BUTTON = undefined;
</script>
<div>

	<h3>
		Instructions
	</h3>

	<div
	  id="Recipe_Instructions-new_Instructions-div"
	>
	</div>

	{% include("New/Recipe/Instructions/List/Index.j2") %}
	{% include("New/Recipe/Instructions/Section/Index.j2") %}

</div>

<script>
	Recipe.Instructions.NEW_INSTRUCTIONS_DIV = document.getElementById("Recipe_Instructions-new_Instructions-div");
	Recipe.Instructions.LIST_TYPE_SELECT_BUTTON =
	  document.getElementById("Recipe_Instructions-list_type_select_button-button");
	Recipe.Instructions.SECTION_TYPE_SELECT_BUTTON =
	  document.getElementById("Recipe_Instructions-section_type_select_button-button");


	Recipe.Instructions.delete_section_from_new_Instructions =
	function delete_section_from_new_Instructions(uuid4)
	{
		const instruction_div = document.getElementById(`Recipe_Instructions_Section_New-new_section-${uuid4}-div`);
		Recipe.Instructions.NEW_INSTRUCTIONS_DIV.removeChild(instruction_div);

		Recipe.Instructions.show_type_selection_buttons();

		delete Recipe.Instructions[uuid4];
	};


	Recipe.Instructions.delete_Instruction_from_new_Instructions =
	function delete_Instruction_from_new_Instructions(uuid4)
	{
		const Instruction_li = document.getElementById(`Recipe_Instructions_List_New-new_Instruction-${uuid4}-li`);
		const Instruction_ul = Instruction_li.parentNode;
		Instruction_ul.removeChild(Instruction_li);
		if(Recipe.Instructions.NEW_INSTRUCTION_LIST_UL.children.length == 0)
		{
			Recipe.Instructions.NEW_INSTRUCTIONS_DIV.removeChild(Recipe.Instructions.NEW_INSTRUCTION_LIST_UL);
			Recipe.Instructions.show_type_selection_buttons();
		}

		delete Recipe.NEW_RECIPE.Instructions[uuid4];
	};


	Recipe.Instructions.delete_Instruction_from_section =
	function delete_Instruction_from_section(section_uuid4, instruction_uuid4)
	{
		const Instruction_li_id = `Recipe_Instructions_Section-section_list_item-${instruction_uuid4}-li`;
		const Instruction_li = document.getElementById(Instruction_li_id);
		const section_ul_id = `Recipe_Instructions_Section_New-new_section_list-${section_uuid4}-ul`;
		const section_ul = document.getElementById(section_ul_id);

		section_ul.removeChild(Instruction_li);

		delete Recipe.NEW_RECIPE.Instructions[section_uuid4].instructions[instruction_uuid4];
	}


	Recipe.Instructions.hide_type_select_buttons =
	function hide_type_select_buttons(selected_type_button)
	{
		if(selected_type_button.id == Recipe.Instructions.LIST_TYPE_SELECT_BUTTON.id)
		{
			Recipe.Instructions.SECTION_TYPE_SELECT_BUTTON.style.display = "none";
		}
		else
		{
			Recipe.Instructions.LIST_TYPE_SELECT_BUTTON.style.display = "none";
		}
	}


	Recipe.Instructions.show_type_selection_buttons =
	function show_type_selection_buttons()
	{
		if(Recipe.Instructions.NEW_INSTRUCTIONS_DIV.children.length == 0)
		{
			Recipe.Instructions.LIST_TYPE_SELECT_BUTTON.style.display = "";
			Recipe.Instructions.SECTION_TYPE_SELECT_BUTTON.style.display = "";
		}
	};
</script>
