
{# FROM: https://stackoverflow.com/a/45024799 #}
{% from "macros.j2" import checkbox_list %}
{% include("macros.j2") %}


{% macro list_ingredient(ingredient) %}
	{% if ingredient.amount() != 0.0 %}
		{{ format_decimal_fractionally(ingredient.amount()) }}
	{% endif %}

	{{ ingredient.unit(ingredient.amount()) }}
	{{ ingredient.quality() }}
	<a
	  href="/ingredient/{{ ingredient.name() }}"
	>{{ ingredient.name() }}</a>

	{% if ingredient.notes() != "" %}
		—
		<i>
			{{ ingredient.notes() }}
		</i>
	{% endif %}

	{% if ingredient.is_required() == False %}
		<b>
			OPTIONAL
		</b>
	{% endif %}
{% endmacro %}


<h2>
	Ingredients
</h2>
<div
  style="padding: 16px;"
>
	{{ checkbox_list(recipe.ingredient_groups(), list_ingredient) }}
</div>
