
{# FROM: https://stackoverflow.com/a/45024799 #}
{% from "Macros.j2" import checkbox_list %}
{% include("Macros.j2") %}


{% macro list_ingredient(ingredient) %}
	{% if ingredient.amount() != 0.0 %}
		{{ format_decimal_fractionally(ingredient.amount()) }}
	{% endif %}

	{{ ingredient.unit(ingredient.amount()) }}
	{{ ingredient.quality() }}
	<a
	  href="/ingredient/{{ ingredient.name() }}"
	>{{ ingredient.name() }}</a>

	{% if ingredient.notes() != "" %}
		—
		<i>
			{{ ingredient.notes() }}
		</i>
	{% endif %}

	{% if ingredient.is_required() == False %}
		<b>
			OPTIONAL
		</b>
	{% endif %}
{% endmacro %}


<h2>
	Ingredients
</h2>
<div
  style="padding: 16px;"
>
	{{ checkbox_list(recipe.ingredient_groups(), list_ingredient) }}
</div>


<button
  type="button"
  onclick="add_ingredients_to_home_assistant()"
>
	Add Ingredients To Home Assistant
</button>
<script>
	function add_ingredients_to_home_assistant()
	{
		var xmlhttp = new XMLHttpRequest();
		// xmlhttp.open("POST", "/recipe/instruction/list", false);
		// xmlhttp.setRequestHeader("Content-Type", "application/json");
		// xmlhttp.send(JSON.stringify(instruction));
		// if(xmlhttp.status == 400)
		// {
		// 	return alert('There was an error 400');
		// }
		// else if(xmlhttp.status != 200)
		// {
		// 	return alert('add_new_recipe_ingredient_html::something else other than 200 was returned');
		// }
	}
</script>
