
{# FROM: https://stackoverflow.com/a/45024799 #}
{% from "Macros.j2" import checkbox_list %}
{% include("Macros.j2") %}


{% macro list_instruction(instruction) %}
	{{ instruction | render_value }}
{% endmacro %}


<h2>
	Instructions
</h2>
<div
  style="padding: 16px;"
>
	{{ checkbox_list(recipe.instructions(), list_instruction) }}
</div>
