

<html>
	<head>
		<link rel='icon' href='{{ url_for("static", filename="Media/Images/ChickenWing.png") }}'>
		<link rel='stylesheet' href='{{ url_for("static", filename="Libraries/Bootstrap/bootstrap.min.css") }}'>
		<link rel='stylesheet' href='{{ url_for("static", filename="Style.css") }}'>
		<script type='text/javascript' src='{{ url_for("static", filename="Libraries/Google/jquery.min.js") }}'></script>
		<script type='text/javascript' src='{{ url_for("static", filename="Libraries/Bootstrap/bootstrap.bundle.min.js") }}'></script>
	</head>
	<header>
		<h1>
			<a
			  href="/recipes"
			>
				Recipes
			</a>
		</h1>
	</header>

	<title>
		{{ title }}
	</title>

	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>

<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});
</script>