

<html>
	<style>
		:root
		{
			--background-color: #202124;
			--disabled-text-color: #666666;
			--text-color: #DDDDDD;
		}

		html
		{
			background-color: var(--background-color);
			color: var(--text-color);
			font-family: Helvetica;
		}

		a
		{
			color: #E1C699;
		}

		input
		{
			background-color: var(--background-color);
			color: var(--text-color);
		}

		.boxed
		{
			border: solid 2px var(--text-color);
			border-radius: 6px;
			margin: 6px;
			padding: 16px;
		}


		.tooltip
		{
			border-bottom: 1px dotted var(--text-color);
		}
	</style>
	<header>
		<h1>
			<a
			  href="/recipes"
			>
				Recipes
			</a>
		</h1>
	</header>

	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>