
<!----------------------------------------------------------------------------------------------------------------------
-                                                                                                                      -
-    Created by: MPZinke on 2023.01.22                                                                                 -
-                                                                                                                      -
-    DESCRIPTION:                                                                                                      -
-    BUGS:                                                                                                             -
-    FUTURE:                                                                                                           -
-                                                                                                                      -
----------------------------------------------------------------------------------------------------------------------->


<html>
	<body>
		<h1>
			{{ ingredient.name() }}
		</h1>
		<table>
			{% for recipe_name in recipe_names %}
				<tr>
					<td>
						<a href="/recipe/{{ recipe_name }}">
							{{ recipe_name }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
