
<!----------------------------------------------------------------------------------------------------------------------
-                                                                                                                      -
-    Created by: MPZinke on 2023.01.22                                                                                 -
-                                                                                                                      -
-    DESCRIPTION:                                                                                                      -
-    BUGS:                                                                                                             -
-    FUTURE:                                                                                                           -
-                                                                                                                      -
----------------------------------------------------------------------------------------------------------------------->


<html>
	<body>
		<h1>
			{{ recipe.name() }}
		</h1>
		<table>
			{% for ingredient in recipe.ingredients() %}
				<tr>
					<td>
						<a href="/ingredient/{{ ingredient.name() }}">
							{{ ingredient.name() }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
