
<!----------------------------------------------------------------------------------------------------------------------
-                                                                                                                      -
-    Created by: MPZinke on 2023.01.22                                                                                 -
-                                                                                                                      -
-    DESCRIPTION:                                                                                                      -
-    BUGS:                                                                                                             -
-    FUTURE:                                                                                                           -
-                                                                                                                      -
----------------------------------------------------------------------------------------------------------------------->


<html>
	<body>
		<table>
			{% for recipe in recipes %}
				<tr>
					<td>
						<a href="/recipe/{{ recipe._name }}">
							{{ recipe._name }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>