
<!----------------------------------------------------------------------------------------------------------------------
-                                                                                                                      -
-    Created by: MPZinke on 2023.01.22                                                                                 -
-                                                                                                                      -
-    DESCRIPTION:                                                                                                      -
-    BUGS:                                                                                                             -
-    FUTURE:                                                                                                           -
-                                                                                                                      -
----------------------------------------------------------------------------------------------------------------------->


{% extends "header.j2" %}
{% block body %}
	<table>
		{% for recipe in recipes %}
			<tr>
				<td>
					<a href="/recipe/{{ recipe.name() }}">
						{{ recipe.name() }}
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
