
{% macro checkbox_list(list, span_macro, prefix="") %}
	{% if list.__class__.__name__ == "dict" %}
		<div>
			{% for section, section_list in list.items() %}
				<div
				  style="padding-bottom: 12px;"
				>
					{% with section = prefix+"::"+section if(prefix) else section %}
						<h4>
							{{ section }}
						</h4>
						{{ checkbox_list(section_list, span_macro, section) }}
					{% endwith %}
				</div>
			{% endfor %}
		</div>

	{% elif list.__class__.__name__ == "list" %}
		{% if list | length > 1 %}
			<input
			  id="{{ prefix | urlencode }}-{{ span_macro.name }}-checkbox"
			  type="checkbox"
			  class="form-check-input"
			  onclick="switch_all(this, '{{ prefix | urlencode }}-{{ span_macro.name }}');"
			/>
		{% endif %}
		{% for item in list %}
			<div>
				<input
				  type="checkbox"
				  class="form-check-input {{ prefix | urlencode }}-{{ span_macro.name }}"
				  onclick="switch_text(this);"
				/>
				<span>
					{{ span_macro(item) }}
				</span>
			</div>
		{% endfor %}
	{% endif %}
{% endmacro %}


{% macro quantity(amount, text, quality="", units=["", ""]) %}
	{% set multiplier = request.args.get("multiplier", "1.0") | float %}
	{% set amount_str = format_decimal_fractionally(Decimal(amount) * Decimal(multiplier)) %}
	{% set unit = units[(Decimal(amount) * Decimal(multiplier)).as_integer_ratio()[0] > 1] %}
	<span
		data-toggle="tooltip"
		class="underlined"
		title="{{ amount_str }} {{ unit }} {{ quality }}"
	>
		{{ text }}</span>
{% endmacro %}


{% macro timer(hours=0, minutes=0, seconds=0) %}
	{% if seconds == 0 and minutes == 0 and hours == 0 %}
		A 0 second timer (...really?)
	{% else %}
		<a
			href="shortcuts://run-shortcut?name=timer-duration&input={{ seconds + minutes * 60 + hours * 3600 }}"
			target="_blank"
		>
			{% if hours != 0 %}
				{{ hours }} hours
			{% endif %}
			{% if minutes != 0 %}
				{{ minutes }} minutes
			{% endif %}
			{% if seconds != 0 %}
				{{ seconds }} seconds
			{% endif %}
		</a>
	{% endif %}
{% endmacro %}


{% macro title(title, text) %}
	<span
		data-toggle="tooltip"
		class="underlined"
		title="{{ title }}"
	>
		{{ text }}
	</span>
{% endmacro -%}


<script>

	function switch_text(checkbox)
	{
		const section_checkbox_class = Array.from(checkbox.classList).find(val => val != "form-check-input");
		const all_sections_checkboxes = Array.from(document.getElementsByClassName(section_checkbox_class));
		if(all_sections_checkboxes.length > 1)
		{
			const sections_master_checkbox = document.getElementById(`${section_checkbox_class}-checkbox`);
			sections_master_checkbox.checked = all_sections_checkboxes.every((checkbox) => checkbox.checked);
		}
		
		const instruction_div = checkbox.parentNode;
		if(instruction_div.style.color != "var(--disabled-text-color)")
		{
			disable_text(checkbox);
		}
		else
		{
			enable_text(checkbox);
		}
	}


	function disable_text(checkbox)
	{
		const instruction_div = checkbox.parentNode;
		instruction_div.style.color = "var(--disabled-text-color)";
		checkbox.checked = true;
	}


	function enable_text(checkbox)
	{
		const instruction_div = checkbox.parentNode;
		instruction_div.style.color = "var(--text-color)";
		checkbox.checked = false;
	}


	function switch_all(element, class_name)
	{
		const checkboxes = Array.from(document.getElementsByClassName(class_name));
		checkboxes.forEach(
			checkbox =>
			{
				if(element.checked)
				{
					disable_text(checkbox);
				}
				else
				{
					enable_text(checkbox);
				}
			}
		);
	}
</script>
