
<!----------------------------------------------------------------------------------------------------------------------
-                                                                                                                      -
-    Created by: MPZinke on 2023.02.05                                                                                 -
-                                                                                                                      -
-    DESCRIPTION:                                                                                                      -
-    BUGS:                                                                                                             -
-    FUTURE:                                                                                                           -
-                                                                                                                      -
----------------------------------------------------------------------------------------------------------------------->


{% extends "Header.j2" %}
{% block body %}
	<form>
		<h1>
			<input
			  id="name-input"
			  class="form-control form-control-lg"
			  onclick="update_json(this, `name`);"
			  placeholder="Recipe Name"
			  type="text"
			/>
		</h1>
		<table>
			<tr>
				<td>
					Instructions
				</td>
				<td>
					<input
					  name="instructions-input"
					  id="instructions-input"
					  type="text"
					/>
				</td>
			</tr>
			<tr>
				<td>
					Notes
				</td>
				<td>
					<input
					  name="notes-input"
					  id="notes-input"
					  type="text"
					/>
				</td>
			</tr>
			<tr>
				<td>
					Rating
				</td>
				<td>
					<input
					  name="rating-input"
					  id="rating-input"
					  type="text"
					/>
				</td>
			</tr>
			<tr>
				<td>
					Servings
				</td>
				<td>
					<input
					  name="servings-input"
					  id="servings-input"
					  type="text"
					/>
				</td>
			</tr>
			<tr>
				<td>
					Total Time
				</td>
				<td>
					<input
					  name="total_time-input"
					  id="total_time-input"
					  type="text"
					/>
				</td>
			</tr>
			<tr>
				<td>
					Prep Time
				</td>
				<td>
					<input
					  name="prep_time-input"
					  id="prep_time-input"
					  type="text"
					/>
				</td>
			</tr>
			<tr>
				<td>
					Cook Time
				</td>
				<td>
					<input
					  name="cook_time-input"
					  id="cook_time-input"
					  type="text"
					/>
				</td>
			</tr>
		</table>

		{% include("New/RecipeIngredient/Index.j2") %}

		{% include("New/Instruction/Index.j2") %}
	</form>
{% endblock %}