
<!----------------------------------------------------------------------------------------------------------------------
-                                                                                                                      -
-    Created by: MPZinke on 2023.02.05                                                                                 -
-                                                                                                                      -
-    DESCRIPTION:                                                                                                      -
-    BUGS:                                                                                                             -
-    FUTURE:                                                                                                           -
-                                                                                                                      -
----------------------------------------------------------------------------------------------------------------------->


{% extends "Header.j2" %}
{% block body %}
	<form>
		<div
		  class="row"
		>
			<div
			  class="col-sm-12"
			>
				<input
				  id="name-input"
				  class="form-control form-control-lg col-sm-4"
				  onclick="update_json(this, `name`);"
				  placeholder="Recipe Name"
				  type="text"
				/>
			</div>
		</div>

		<div
		  class="form-group row"
		>
			<label
			  for="servings-input"
			  class="col-sm-4 col-form-label"
			>
				Servings
			</label>
			<div
			  class="col-sm-8"
			>
				<input
				  id="servings-input"
				  class="form-control"
				  onclick="update_json(this, `servings`);"
				  type="number"
				/>
			</div>
		</div>

		<div
		  class="form-group row"
		>
			<label
			  for="rating-input"
			  class="col-sm-4 col-form-label"
			>
				Rating
			</label>
			<div
			  class="col-sm-8"
			>
				<input
				  id="rating-input"
				  class="form-control"
				  onclick="update_json(this, `rating`);"
				  type="number"
				/>
			</div>
		</div>

		<div
		  class="form-group row"
		>
			<label
			  for="prep_time-input"
			  class="col-sm-4 col-form-label"
			>
				Prep Time
			</label>
			<div
			  class="col-sm-8"
			>
				<input
				  id="prep_time-input"
				  class="form-control"
				  onclick="update_json(this, `prep_time`);"
				  type="number"
				/>
			</div>
		</div>

		<div
		  class="form-group row"
		>
			<label
			  for="cook_time-input"
			  class="col-sm-4 col-form-label"
			>
				Cook Time
			</label>
			<div
			  class="col-sm-8"
			>
				<input
				  id="cook_time-input"
				  class="form-control"
				  onclick="update_json(this, `cook_time`);"
				  type="number"
				/>
			</div>
		</div>

		<div
		  class="form-group row"
		>
			<label
			  for="total_time-input"
			  class="col-sm-4 col-form-label"
			>
				Total Time
			</label>
			<div
			  class="col-sm-8"
			>
				<input
				  id="total_time-input"
				  class="form-control"
				  onclick="update_json(this, `total_time`);"
				  type="number"
				/>
			</div>
		</div>

		<div
		  class="form-group row"
		>
			<label
			  for="notes-textarea"
			  class="col-sm-4 col-form-label"
			>
				Notes
			</label>
			<div
			  class="col-sm-8"
			>
				<textarea
				  id="notes-textarea"
				  class="form-control"
				  onclick="update_json(this, `notes`);"
				  type="number"
				  rows="3"
				>
				</textarea>
			</div>
		</div>
	</form>

		

		{% include("New/RecipeIngredient/Index.j2") %}

		{% include("New/Instruction/Index.j2") %}
{% endblock %}